In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

# Analyser le dataframe

In [3]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [ ]:
df.tail()

In [ ]:
df.head(10)

In [ ]:
df.shape

☝️ Notre dataframe contient 1000 rangées et 10 colonnes.

In [ ]:
df.columns.tolist()

In [ ]:
df.index.tolist()[:10]

In [ ]:
df.set_index("email")